.repo {
    border: 1px solid #30363D;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &-name {
            font-weight: 600;
            font-size: 1.2em;

            &-link { 
                color: #fff;
                text-decoration: none;
            }
        }
    }

    &-link {
        color: #58A6FF;
        text-decoration: none;
    }
}